<p style="color: #007bff;">orden-pedidos-al-aire works!</p>
<button (click)="calcularBfoDeTodosLosPedidos()">Calcular Bfo Productos</button>
<button (click)="borrarPedidosTratados()">Borrar pedidos Tratados</button>
<!--@for (producto of lProductos; track $index) {
    <p>{{ producto.id }}  -  {{ producto.cProductoId }} </p>
    @for (ingrediente of producto.ingrediente; track $index) {
        <p style="margin-left: 20px;">-Ingrediente: {{ ingrediente.cProductoNecesitadoId }} - {{ ingrediente.cantidad }}</p>
    }
}-->
@for (pedido of lPedidos; track $index) {
<div class="col-md-4" id="listaDePedidos" style="width: 100%; border: 2px solid #007bff; padding: 15px; border-radius: 8px;">
    <p>
        @if (pedido.icono() != null) 
        {
            <img src="{{pedido.icono()}}" alt="Pedido Image" height="20" width="20"/>
        }
        @if (pedido.oro == -1)
        {
            <img src="/equis.png" alt="Pedido Image" height="8" width="8"/>
        }
        Orden: {{ pedido.orden }} - Estrellas: {{ pedido.estrellas }} - Oro: {{ pedido.oro }} - Bfo: {{ pedido.getBfoTXT() }}  
        <@if (! pedido.esTratado())
        {
            <button (click)="tratarPedido(pedido)">Tratar Pedido</button> 
        }
        @else   
        {
            <button (click)="eliminarPedido(pedido)">
                <img src="/equis.png" alt="Pedido Image" height="20" width="20"/>
            </button>
        }

    </p>
    
        @for (prodPedido of pedido.productos; track $index ) {
            <div id="prodDePedido" [style.backgroundColor]="prodPedido.claseSegunFalta()">
                <p (dblclick)="copyToClipboard(prodPedido.nombreProducto)">
                - {{ prodPedido.nombreProducto }} - Tengo: {{ prodPedido.tengo }} - Cantidad: {{ prodPedido.cantidad }} - Coste: {{ prodPedido.costeTXT() }}
                @if (prodPedido.tengo < prodPedido.cantidad)     
                {        
                    <button (click)="ponerIngredientesFaltan(prodPedido)">
                        <img src="/mas.png" alt="Pedido Image" height="20" width="20"/>
                    </button>                    
                }
                </p>

            </div>
            @if (prodPedido.poductoId == cProductoSeleccionado && prodPedido.pedidoId == cPedidoSeleccionado)
            {
                @for (ingredienteFalta of lIngredientesFaltanDeUnProductoDePedido; track $index) 
                {
                    <div style="background-color: rgb(241, 206, 206); padding: 10px; margin-top: 5px;">
                        - Ingrediente: {{ ingredienteFalta.nombre }} - Tengo: {{ ingredienteFalta.tengoMenosUnoACero() }} - Necesito fabricar: {{ ingredienteFalta.cantidad }}
                    </div>
                }
            }   
        }
    

  
</div>
}