<p>orden-pedidos-al-aire works!</p>
<button (click)="calcularBfoDeTodosLosPedidos()">Calcular Bfo Productos</button>
<button (click)="borrarPedidosTratados()">Borrar pedidos Tratados</button>
<!--@for (producto of lProductos; track $index) {
    <p>{{ producto.id }}  -  {{ producto.cProductoId }} </p>
}-->
@for (pedido of lPedidos; track $index) {
<div class="col-md-4" id="listaDePedidos" style="width: 100%; border: 2px solid #007bff; padding: 15px; border-radius: 8px;">
    <p>
        @if (pedido.icono() != null) 
        {
            <img src="{{pedido.icono()}}" alt="Pedido Image" height="20" width="20"/>
        }
        @if (pedido.oro == -1)
        {
            <img src="/equis.png" alt="Pedido Image" height="8" width="8"/>
        }
        Orden: {{ pedido.orden }} - Estrellas: {{ pedido.estrellas }} - Oro: {{ pedido.oro }} - Bfo: {{ pedido.getBfoTXT() }}  
<!--        <button (click)="tratarPedido()">Tratar Pedido</button> -->
<!--        <input type="checkbox" [(ngModel)]="aEliminar"/>
        <button *ngIf="aEliminar" (click)="eliminarFase2()">
          <img src="/equis.png" alt="Pedido Image" height="20" width="20"/>
        </button>
    -->
    </p>
    <ul>
        @for (prodPedido of pedido.productos; track $index) {
            <li>{{ prodPedido.nombreProducto }} - Tengo: {{ prodPedido.tengo }} - Cantidad: {{ prodPedido.cantidad }} - Coste: {{ prodPedido.costeTXT() }}</li>
        }
    </ul>

  
</div>
}