.input-bandas-v {
  background-image: linear-gradient(
    to right,
    #ccc6a4 0%,
    #FFD700 50%,
    #c2a088 50%,
    #c2a692 100%
  );
  background-size: 16px 100%; /* franjas de 8px + 8px verticales */
}


.charca {
    background-color: #8FBC8F;
}

.trenVecindario {
    color:aqua;
}

.valle  {
  background:  #DEB887;
  color: white; /* para que el texto contraste */
}
.barco  {
  background: radial-gradient(circle, #13658b 0%, #DEB887 100%);
  color: white; /* para que el texto contraste */
  border: none;
}
.derby  {
  background: radial-gradient(circle, #0b5f16 0%, #b91446 100%);
  color: white; /* para que el texto contraste */
  border: none;
}

.greg  {
  background: radial-gradient(circle, #0000FF 0%, #87CEFA 100%);
  color: white; /* para que el texto contraste */
  border: none;
}

.tommy  {
  background: radial-gradient(circle, #00ff80 0%, #87CEFA 100%);
  color: white; /* para que el texto contraste */
  border: none;
}

.feria  {
  background: radial-gradient(circle, #cf4d11 0%, #e0dd12 30%);
  color: white; /* para que el texto contraste */
  border: none;
}
.pase {
    background-color: #d6f0d6;
}

.nada{
    color:rgb(233, 226, 226)
}

.pasado{
    background-color:#FFD700;
}

.muyTemprano{
    background-color: rgb(199, 199, 111);
}

.pasado{
    background-color:#FFD700;
}

.futuro{
    background-color: yellow;
}


.casilla{
    border: 1px solid #ddd; padding: 1px; text-align: left;
}

.poner{
  font-weight: bold;
}

/* Más estrecha para la celda que muestra la hora final */
.hfinal-cell{
  width: 120px;
  max-width: 120px;
  white-space: nowrap;
}
.hfinal-cell input{
  width: 64px; /* ajustar a la anchura deseada */
  box-sizing: border-box;
}