

<div style="padding: 20px;">
  <h2>Tareas</h2>
    H.Inicio: <input type="time" [(ngModel)]="nuevaTarea.hInicio" (dblclick)="nuevaTarea.horaActual()" />
    H.Duración: <input type="time" (dblclick)="nuevaTarea.poner0000()" [(ngModel)]="nuevaTarea.hDuracion" />
    Descripción: <input type="text" [(ngModel)]="nuevaTarea.dTarea" (blur)="ponerTiempos()"/>
    Orden: <input type="number" [(ngModel)]="nuevaTarea.nOrden" />
    Total: <input type="number" [(ngModel)]="nuevaTarea.nTotal" />
    Para: <input type="text" [(ngModel)]="nuevaTarea.aPara" />
    <button (click)="agregarTarea()">
      Agregar Tarea
    </button>
    <button (click)="cadena()">
      Cadena
    </button>
</div>
<img src="/mas.png" alt="Pedido Image" height="20" width="20"(click)="mostrarBotonesEspeciales()"/>
@if (bMostrarBotonesEspeciales) 
{
  <button (click)="crearTareasFijas()">
    Crear Tareas Fijas
  </button>
}

<button (click)="ordenarTareas()">
  <img src="/ordenar.png" alt="Ordenar" width="24" height="24"/>
</button>



<div style="padding: 20px;">
  <h2>Tareas</h2>
  
  <table style="width: 100%; border-collapse: collapse; border: 1px solid #ddd;">
    <thead>
      <tr style="background-color: #007bff; color: white;">
        <th class="casilla">Final</th>
        <th class="casilla">Inicio</th>
        <th class="casilla">Duración</th>
        <th class="casilla">Descripción</th>
        <th class="casilla">Orden</th>
        <th class="casilla">Total</th>
        <th class="casilla">Para</th>
        <th class="casilla">Borr</th>
      </tr>
    </thead>
    <tbody>
      @for (tarea of lTareas; track tarea.id) {
        <tr style="border: 1px solid #ddd;">
          <td class="casilla hfinal-cell">
            <input [class]="tarea.pasadoOFuturo()" size="10" type="text" readonly="true" [(ngModel)]="tarea.hFinal" (dblclick)="nuevaTareaHora(tarea.hFinal)"/>
            @if (tarea.icono() !== "") 
            {
              <img src={{tarea.icono()}} alt="" height="25" width="25"/>
            }
            @if (tarea.dTarea.toUpperCase().includes("PONER")) 
            {
              <img src="poner.png" alt="" height="25" width="25"/>
            }
            @if (tarea.dTarea.toUpperCase().includes("LLEGA")) 
            {
              <img src="LlegaPedido.png" alt="" height="25" width="25"/>
            }
            
          </td>
          <td class="casilla hfinal-cell"><input type="time" [(ngModel)]="tarea.hInicio" (dblclick)="horaActual(tarea.id)" (ngModelChange)="onTareaChanged(tarea, 'hInicio', $event)"/></td>
          <td class="casilla hfinal-cell"><input type="time" [(ngModel)]="tarea.hDuracion" (dblclick)="poner2359(tarea.id)" (ngModelChange)="onTareaChanged(tarea, 'hDuracion', $event)"/></td>
          <td class="casilla"><input  type="text" [(ngModel)]="tarea.dTarea" [attr.size]="tarea.dTarea.length" (ngModelChange)="onTareaChanged(tarea, 'dTarea', $event)" /></td>
          <td class="casilla hfinal-cell"><input [class]="claseCantidades(tarea.nOrden)" type="number" [(ngModel)]="tarea.nOrden" (ngModelChange)="onTareaChanged(tarea, 'nOrden', $event)"/></td>
          <td class="casilla hfinal-cell"><input [class]="claseCantidades(tarea.nTotal)" type="number" [(ngModel)]="tarea.nTotal" (ngModelChange)="onTareaChanged(tarea, 'nTotal', $event)"/></td>
          <td class="casilla">
            <input [class]="clasePara(tarea.aPara)" type="text" [(ngModel)]="tarea.aPara" (ngModelChange)="onTareaChanged(tarea, 'aPara', $event)"/>
            @if (tarea.icono() !== "") 
            {
              <img src={{tarea.icono()}} alt="" height="25" width="25"/>
            }

          </td>
          <td class="casilla hfinal-cell">
            <img src="/equis.png" alt="Pedido Image" height="20" width="20"(click)="eliminar(tarea.id!)"/>
          </td>
        </tr>
      }
    </tbody>
  </table>

  @if (lTareas.length === 0) {
    <p style="margin-top: 20px; color: #666;">No hay tareas disponibles.</p>
  }
</div>

