<div class="mas-poder-container">
  <h2>Lista para aumentar el poder de mis Pokemon</h2>

  <!-- Barra de herramientas -->
  <div class="barra-herramientas">
    <input 
      type="text" 
      [(ngModel)]="filtroBusqueda" 
      placeholder="Buscar por nombre, ataque rápido o ataque cargado..."
      class="input-busqueda"
    />
  </div>

  <!-- Tabla de misPokemon -->
  <div class="tabla-container">
    <h3>Lista de MisPokemon para aumentar poder({{ listaFiltrada.length }})</h3>
    <table *ngIf="listaFiltrada.length > 0" class="tabla-misPokemon">
      <thead>
        <tr>
          <th>⭐</th>
          <th>Polvos</th>
          <th>Valor</th>
          <th>Nombre</th>
          <th>Tipos</th>
          <th>PC</th>
          <th>Op</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let misPok of listaFiltrada let i = index" [class.favorito]="misPok.BFavorito" >
          <td class="col-favorito">{{ misPok.BFavorito ? '⭐' : '' }}</td>
          <td class="col-numero">{{ misPok.Polvos }}</td>
          <td class="col-numero">{{ misPok.ValorConMultiplicador }}</td>
          <td class="col-nombre">{{ misPok.nombre }}</td>
          <td class="col-numero">{{ misPok.cadenaTipoPokemon }}</td>
          <td class="col-numero">{{ misPok.PC }}</td>
          <td class="col-op">
            @if (iAumentarPoder == i)
            {
              <label>PC</label>
              <input type="number" [(ngModel)]="nuevoPoderPC" name="pc" size="5"/>
              <label>Salud</label>
              <input type="number" [(ngModel)]="nuevoPoderSalud" name="salud" size="5" />
              <label>Polvos</label>
              <select [(ngModel)]="nuevoPoderPolvos" name="polvos" >
                <option value="">-- Selecciona polvos --</option>
                <option *ngFor="let multipolvos of listaMultiplicadorPolvos" [value]="multipolvos.polvos">
                  {{ multipolvos.polvos }}
                </option>
              </select> 

              <button (click)="confirmarAumentoPoder(misPok.id, i)" class="btn-success">
                ✅
              </button>
              <button (click)="cancelarAumentoPoder()" class="btn-danger">
                ❌
              </button>
            }
            @else
            {
              <button (click)="editarPoder(misPok, i)" class="btn-primary">
                💪{{i}}
              </button>
            }
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="listaFiltrada.length === 0 && !cargando" class="sin-datos">
      <p>No hay misPokemon para mostrar</p>
    </div>

    <div *ngIf="cargando" class="cargando">
      <p>Cargando...</p>
    </div>
  </div>
</div>

