<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Resumen del Pedido</title>

</head>
<body>

  <div class="pedido">
    <h2>Resumen del Pedido</h2>
    <input type="text" readonly="true" [(ngModel)]="pedido.id" />
    Orden: <input type="number" [(ngModel)]="pedido.orden" class="form-control" style="width: 100px; display: inline-block;" />
    Oro: <input type="number" [(ngModel)]="pedido.oro" class="form-control" style="width: 100px; display: inline-block;" />
    Estrellas: <input type="number" [(ngModel)]="pedido.estrellas" class="form-control" style="width: 100px; display: inline-block;" />
    <br/>

    <button (click)="mostrarProductosDePedido()">Mostrar productos</button>

    <app-producto-de-pedido-al> </app-producto-de-pedido-al>
    
    <div *ngIf="bMostrarListaProductos">
      Aquí van los productos del pedido:
      <!--<app-productos-de-pedido *ngFor="let producto of lProductos" [producto]="producto"></app-productos-de-pedido>-->
        <app-productos-de-pedido
              *ngFor="let producto of lProductos"
                [producto]="producto">
        </app-productos-de-pedido>
      
      <!--<app-productos-de-pedido></app-productos-de-pedido>-->
    </div> 
    
    
   
  </div>

</body>
</html>