<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Resumen del Pedido</title>

</head>
<body>

  <div class="pedido">
    <h2>Resumen del Pedido</h2>
    <input type="text" readonly="true" [(ngModel)]="pedido.id" />
    Orden: <input type="number" [(ngModel)]="pedido.orden" class="form-control" style="width: 100px; display: inline-block;" />
    Oro: <input type="number" [(ngModel)]="pedido.oro" class="form-control" style="width: 100px; display: inline-block;" />
    Estrellas: <input type="number" [(ngModel)]="pedido.estrellas" class="form-control" style="width: 100px; display: inline-block;" />
    <img *ngIf="bNuevo()" src="/Ok.png" alt="Pedido Image" height="20" width="20"(click)="insertarPedido()"/>
    <br/>

    <img src="/anterior.png" alt="Anterior" height="20" width="20" (click)="anteriorPedido()"/>
    Registro {{indicePedidoActual + 1}} de {{lPedidos.length}}
    <img src="/siguiente.png" alt="Siguiente" height="20" width="20"(click)="siguientePedido()"/>
    <img src="/mas.png" alt="Pedido Image" height="20" width="20"(click)="nuevoPedido()"/>
    <br/>

    <!-- Nuevo producto-->
    <app-producto-de-pedido-al [pedidoId]="pedido?.id" (pedidoActualizado)="mostrarPedidoActual()"> </app-producto-de-pedido-al>
    
      Aquí van los productos del pedido:
      <!--<app-productos-de-pedido *ngFor="let producto of lProductos" [producto]="producto"></app-productos-de-pedido>-->
        <app-productos-de-pedido
              *ngFor="let producto of lProductos"
                [producto]="producto">
        </app-productos-de-pedido>
      
   
  </div>

</body>
</html>