<div class="col-md-4" id="listaDePedidos" style="border: 2px solid #007bff; padding: 15px; border-radius: 8px;">
    <p>
        @if (pedido.icono() != null) {
            <img src="{{pedido.icono()}}" alt="Pedido Image" height="20" width="20"/>
        }
        @if (pedido.oro == -1)
        {
            <img src="/equis.png" alt="Pedido Image" height="8" width="8"/>
        }
        Orden: {{ pedido.orden }} - Estrellas: {{ pedido.estrellas }} - Oro: {{ pedido.oro }} - Bfo: {{ pedido.getBfoTXT() }}  
        <button (click)="tratarPedido()">Tratar Pedido</button>
        <input type="checkbox" [(ngModel)]="aEliminar"/>
        <button *ngIf="aEliminar" (click)="eliminarFase2()">
          <img src="/equis.png" alt="Pedido Image" height="20" width="20"/>
        </button>

<app-orden-pedidos-productos-hijo
        *ngFor="let productoDePedido of lProductosDePedido" [productoDePedido]="productoDePedido" >
</app-orden-pedidos-productos-hijo>        
    <!--<app-orden-pedidos-productos-hijo
            *ngFor="let producto of lProductosDePedido"
            >--><!--[producto]="producto" [pedidoId]="pedido?.id">-->
    <!--</app-orden-pedidos-productos-hijo>    -->
</div>
